version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./db:/app/db  
      - ./:/app  
    environment:
      - DATABASE_URL=sqlite:////app/db/test.db
    command: >
      sh -c "
        mkdir -p /app/db &&
        chmod 777 /app/db &&
        uvicorn main:app --host 0.0.0.0 --port 8000
      "